@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.gr-carousel-slider{
    z-index: 0;
    border-radius: 12px;
    position: relative;
    
    overflow: hidden;
    .carousel-logo{
        background-color: #ff9670;
    }

    div{
        background-color: black;
        position: relative;
    }

    img{
        margin:auto;
        width: auto;
        height: 400px;
    }
}