.main-header {
    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 10px;
    background: black;
    position: fixed;
    width: 100%;
    height: 60px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.gr-logo {
    margin-top: 3px;
    margin-bottom: 3px;
    div{
        background-color: whitesmoke;
        display: inline-block;
        text-align: center;
    }
    z-index: 100;
    width: 20%;
    height: 60px;
    display: inline-block;
    //padding-left: 50%;
    position: absolute;
    //align-self: right;
    img {
        height: 50px;
        width: 100px;
        margin-left: 5px;
        margin-right: 5px;
    }
}


.gr-search {
    z-index: 20;
    position: absolute;
    padding-right: 10px;
    padding-left: 30%;
    padding-top: 15px;
    display: inline-block;
    text-align: right;
    width: 20%;
    height: 60px;
  
    div {
      position: relative;
      display: inline-block;
    }
  
    button {
      position: absolute;
      left: 3px;
      top: 13px;
      height: 14px;
      width: 14px;
      background-color: transparent;
      border: 0;
      transform: rotate(270deg);
  
      &:before {
        content: "";
        display: block;
        border: 1px solid black;
        width: 15px;
        height: 15px;
        border-radius: 100%;
      }
  
      &:after {
        content: "";
        display: block;
        width: 2px;
        height: 3px;
        background-color: black;
        transform: rotate(30deg);
      }
    }
  
    input {
      padding-left: 30px;
      border-radius: 13px;
      border: none;
      height: 28px;
      background-color: rgb(255, 150, 112);
    }
  }