
.gr-momentnews{
    h2{
        background-color: black;
        color: whitesmoke;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    grid-auto-flow: column;
    justify-content: start;

    text-align: center;
    margin:1%;
    display: inline-block;
    border: 1px solid black;
    width: 100%;
}