.gr-championshipResultmanager{
    //text-align: center;
    background-color: whitesmoke;
    margin: 20%;
    margin-top: 4%;
    padding: 2%;
    height: 1000px;

    >h1{
        text-align: center;
        font-weight: 900;
        font-size: 25px;
        text-decoration-line: underline;
        padding-bottom: 2%;
    }
}