.gr-home{
    grid-auto-flow: column;
    justify-content: start;

    background-color: whitesmoke;
    margin: 2%;
    margin-top: 4%;
    padding: 2%;
    min-height: 400px;


    >h1{
        text-align: center;
        font-weight: 900;
        font-size: 25px;
        text-decoration-line: underline;
        padding-bottom: 2%;
    }

    .gr-news{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
        padding-top: 5%;
        height: auto;
    }
    
}