.gr-standings-main{
    background-color: whitesmoke;
    margin: 2%;
    margin-top: 4%;
    padding: 2%;
    min-height: 400px;
    text-align: center;
    >h1{
        text-align: center;
        font-weight: 900;
        font-size: 25px;
        text-decoration-line: underline;
        padding-bottom: 2%;
    }
    >h2{
        text-align: center;
        font-weight: 300;
        padding-bottom: 2%;
    }
}

.gr-table-standings { 
    th{
        font-weight: 900;
    }
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    padding: 10%;
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid black;
    }

}

.gr-standings-pagination-main{
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 10px;

    padding-bottom: 10px;
    color: black;
    background-color: #ff9670;

    .gr-pagination-elem{
        padding: 10px;
    }
}