.gr-searchmenu{
    background-color: whitesmoke;
    margin: 2%;
    margin-top: 4%;
    padding: 2%;
    min-height: 400px;

    .gr-searchtitle2{
        font-weight: 600;
        margin-top: 2%;
    }

}

.gr-searchtitle{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 1%;
}