.gr-imagecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 10px;

    width: 45%;
    height: auto;
    margin-left: 40%;
    padding: 40px;
    border: 1px solid orangered; 
}