.gr-imageMoment{
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    margin: 10px;
    img{
        width: 100%;
        height: 70%;
    }
}

@media screen and (max-width:1200px){
    .gr-imageMoment{
        
        width: 51%;
        img{
            
        }
    }
}