
.gr-rule{
    padding: 1% 0;
    h2{
        text-align: left;
        font-weight: 600;
        padding: 0.5%;
        background-color: #ff9670;
        margin-left: 100px;
    }
    p{
        padding: 1%;
        border: 1px solid orangered;
        text-align: left;
    }
}

.gr-rulemain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;    
    grid-auto-flow: column;
    justify-content: start;
    background-color: #ff9670;
    button{
        margin-left: 10px;  
        background-color: #ff9670;
    }
}