.gr-gamecontainer{
    display: inline-block;
    width: 55%;
    margin-left: 40%;
    padding: 40px;
    border: 1px solid orangered; 

    h1{
        text-align: center;
        font-weight: 600;
        padding: 15px;
        background-color: black;
        color: whitesmoke;
    }
}

.gr-button-addMatch{
    text-align: center;
    border: 1px solid black;
    border-radius: 7px;
    width: 10%;
    padding: 1%;
}

