.main_nav {
  z-index: 9;
    margin-top: 0;
    padding-top: 10px;
    display: inline-block;
    width: 45%;
    height: 100%;
    top:0;
    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 10px;
    
    padding-left: 10px;

    .gr-logoutbtn{
      margin-right: 2%;
      padding: 1%;
      background-color: black;
      color: white;
    }
  
    .div-link{
        
      margin-right: 1px solid orangered;
    }
    .link {
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 1.2px;
      font-size: 13px;
      border-bottom: 2px solid transparent;
      padding-bottom: 11px;
  
      &.is-active {
        color: var(--main-link-active-color);
        border-bottom: 3px solid orangered;
      }
    }
  }