.gr-championship{
    grid-auto-flow: column;
    justify-content: start;
    //position: relative;

    background-color: whitesmoke;
    margin: 2%;
    margin-top: 4%;
    padding: 2%;
    min-height: 400px;

    >h1{
        text-align: center;
        font-weight: 900;
        font-size: 25px;
        text-decoration-line: underline;
        padding-bottom: 2%;
    }
}