.gr-championshipresult{
    >h1{
        text-align: center;
        font-weight: 900;
        font-size: 25px;
        text-decoration-line: underline;
        padding-bottom: 2%;
    }
    >h2{
        text-align: center;
        font-weight: 300;
        padding-bottom: 2%;
    }
}

.gr-championship-matchList{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 5%;
}

.gr-championship-standings{
    text-align: center
}
.gr-table-championship { 
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    padding: 10%;
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid black;
    }

}
  

.gr-thead-championship{
    font-weight: 600;
}

tr:hover {
    
    background-color: rgb(255, 150, 112);
}