.gr-matchnews{
    h2{
        background-color: orangered;
    }
    text-align: center;
    margin:3%;
    display: inline-block;
    border: 1px solid orangered;
    width: 43%;
    height: 100%;
}