
.gr-addImage{
    margin: 1% 0;
    z-index: 10;
    background-color: black;
    color: whitesmoke;
    width: 5%;
}

.gr-imageform{
    z-index: 100;
    margin: 6%;
    margin-top: 8%;
    border: 30px solid orangered;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    padding: 3%;
    h1{
        font-weight: 900;
    }

    h3{
        font-weight: 600;
        padding: 2%;
    }

    input{
        margin: 0.5%;
        padding: 1%;
    }
}

.gr-imageErrorMessage{
    position: absolute;
    z-index: 10;
    bottom:1%;
    left:47%;
    border: 3px solid red;
    padding: 1%;
}