.gr-logindiv{
    grid-auto-flow: column;
    justify-content: start;

    background-color: whitesmoke;
    margin: 2%;
    margin-top: 4%;
    padding: 2%;
    height: 100%;
    min-height: 100%;
    text-align: center;

    input{
        padding: 0.5%;
        margin-bottom: 1%;
    }

    button{
        background-color: black;
        color: whitesmoke;
    }

    >h1{
        text-align: center;
        font-weight: 900;
        font-size: 25px;
        text-decoration-line: underline;
        padding-bottom: 2%;
        color: orangered;
    }

    p{
        padding: 2%;
    }
}
