.gr-main{
    padding-top: 10px;
    //z-index: 100;
    background-image: url("./backgr-img.png");
    background-repeat: repeat;
    background-size: 200px auto;
    
    min-height: calc(100% - 60px);
    padding-top: 60px;
    
}

.gr-div-button{
    padding: 3%; 
    color: black; 
}

.gr-app-main{
    height: 100%;
}
