:root {
    --main-bg-color: #0e0e0e;
    --main-font-color: whitesmoke;
    --main-highlight-color: #fff;
    --main-link-active-color: orangered;
    --main-border-color: #ccc;
    --activity-bg-color: #000;
    //--main-bg-color-dark: #202020;
  }
  
  $main-bg-color: #050505;

  