.gr-championship-entitie{
    padding: 8px;
    border: 1px solid orangered;
}

.gr-championship-details{
    p{
        display: inline;
    }

    .gr-championship-data{
        font-weight: 900;
        padding: 10px;
    }
}