.gr-main-imageSidebar{
    display: inline-block;
    width: 30%;
    position: fixed;
    

    h1{
        text-align: center;
        font-weight: 600;
        padding: 15px;
    }
}

.gr-button-addImage{
    text-align: center;
    border: 1px solid black;
    border-radius: 7px;
    width: 10%;
    padding: 1%;
}

.gr-imageSidebar{
    border: 1px solid black;
    position: relative;
    top:0;

    h1{
        
        background-color: orangered;

    }
}