

.gr-addMatch{
    margin: 1% 0;
    z-index: 10;
    background-color: black;
    color: whitesmoke;
    width: 5%;
}

.gr-updateMatch{
    margin: 1% 0;
    z-index: 10;
    background-color: black;
    color: whitesmoke;
    width: 5%;
}

.gr-matchErrorMessage{
    z-index: 10;
    border: 3px solid red;
    padding: 1%;
    min-width: 10px; 
}

.gr-matchform{
    z-index: 100;
    margin: 6%;
    margin-top: 8%;
    border: 30px solid orangered;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    padding: 3%;

    h1{
        font-weight: 900;
        padding: 2%;
    }

    input{
        margin: 0.5%;
        padding: 1%;
    }

    textarea{
        min-width: 300px;
        min-height: 150px;
    }
}

